*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/build
**/build-by-eclipse

# packaging
**/.gradle/**
**/npm-debug.log
**/node_modules/**
**/dist/**
**/bower_components

# dynamic configuration files (run graddle)
backup/vma20211102/vma-mvc/.settings/org.eclipse.jdt.core.prefs
backup/vma20211102/vma-mvc/.settings/org.eclipse.wst.common.component
backup/vma20211102/vma-rest-api/.settings/org.eclipse.jdt.core.prefs
backup/vma20211102/vma-rest-api/.settings/org.eclipse.wst.common.component

# ignore
backup/vma20211102/vma-mvc/src/main/webapp/js
backup/vma20211102/vma-mvc/src/main/webapp/originalInfo/
backup/vma20211102/vma-mvc/src/main/webapp/vma_original_list.html
.idea/
*.ipr
*.iws
*.iml
out

# Gradle
!/gradle/wrapper/gradle-wrapper.jar

# Build
/build/
/target/
/bin/
