*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# build files
**/build
**/build-by-eclipse

# packaging
**/.gradle/**
**/npm-debug.log
**/node_modules/**
**/dist/**
**/bower_components

.idea/
*.ipr
*.iws
*.iml
out

# Build
build
target
bin
.DS_Store

# Angular
**/.angular/cache

# Locust

locust/*.csv
__pycache__

# Logs
logs