global
    maxconn 100
    daemon

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen ReadWrite
    bind *:5000
    server postgres1 jofisaes-vma-postgres-1:${POSTGRES_EXPOSED_PORT} check

listen Read
    bind *:5001
    server postgres2 jofisaes-vma-postgres-2:${POSTGRES_EXPOSED_PORT} check
    server postgres3 jofisaes-vma-postgres-3:${POSTGRES_EXPOSED_PORT} check
