services:
  e2e-electron:
    image: "cypress/included:15.7.1"
    working_dir: /e2e
    command: "--browser electron --env host=jofisaes-vma-nginx-lb"
    volumes:
      - ./e2e:/e2e
    networks:
      - vma_net

  e2e-chrome:
    image: "cypress/included:15.7.1"
    working_dir: /e2e
    command: "--browser chrome --env host=jofisaes-vma-nginx-lb"
    volumes:
      - ./e2e:/e2e
    networks:
      - vma_net

  e2e-firefox:
    image: "cypress/included:15.7.1"
    working_dir: /e2e
    command: "--browser firefox --env host=jofisaes-vma-nginx-lb"
    volumes:
      - ./e2e:/e2e
    networks:
      - vma_net

  e2e-edge:
    image: "cypress/included:15.7.1"
    working_dir: /e2e
    command: "--browser edge --env host=jofisaes-vma-nginx-lb"
    volumes:
      - ./e2e:/e2e
    networks:
      - vma_net
