<mat-card-title>VMA - Cast your vote page!</mat-card-title>
<mat-card>
  <mat-card-title>{{votingId}}</mat-card-title>
  <mat-card fxLayout="row wrap">
    <mat-card *ngFor="let category of categories">
      <mat-card-title>{{category.category}}</mat-card-title>
      <mat-radio-group *ngIf="category.artists.length>0 && !category.voted"
                       aria-labelledby="vma-radio-group-label"
                       class="vma-radio-group" [(ngModel)]="category.selectedArtist">
        <mat-radio-button class="vma-radio-button" *ngFor="let artist of category.artists" [value]="artist.id">
          {{artist.name}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-card *ngIf="category.artists.length>0 && category.voted">
        <p  *ngFor="let artist of category.artists">{{artist.name}}</p>
        <mat-card-title><b>Your vote has been cast! Thank you for voting!</b></mat-card-title>
      </mat-card>

      <mat-radio-group *ngIf="category.songs.length>0 && !category.voted"
                       aria-labelledby="vma-radio-group-label"
                       class="vma-radio-group" [(ngModel)]="category.selectedSong">
        <mat-radio-button class="vma-radio-button" *ngFor="let song of category.songs" [value]="song.id">
          {{song.name}}
        </mat-radio-button>
      </mat-radio-group>
      <mat-card *ngIf="category.songs.length>0  && category.voted">
        <p  *ngFor="let song of category.songs">{{song.name}}</p>
        <mat-card-title><b>Your vote has been cast! Thank you for voting!</b></mat-card-title>
      </mat-card>
    </mat-card>
  </mat-card>
  <button mat-raised-button color="primary" (click)="castVotes()">Cast Votes!</button>
</mat-card>
