<!DOCTYPE html>
<html ng-app="vmaApp">
<head>
<script src="js/bower_components/angular/angular.min.js"></script>
<script src="js/bower_components/angular-resource/angular-resource.js"></script>
<script src="js/bower_components/angular-route/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/controls.js"></script>
<script src="js/services.js"></script>
<script src="http://lorenzofox3.github.io/smart-table-website/bower_components/angular-smart-table/dist/smart-table.js	"></script>
 
</head>
<meta charset="UTF-8">
<title>Video media archiver</title>
</head>
<body>
<input type="text" ng-model="textSource" placeholder="Enter Something"> 
 <br><br>{{textSource}}
 
 
<section ng-controller="titlesCtrl">
<table st-table="titlesCollections" class="table table-striped">
	<thead>
	<tr>
		<th>id</th>
		<th>title</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in titlesCollections">
		<td>{{row.id}}</td>
		<td>{{row.title}}</td>
	</tr>
	</tbody>
</table>
</section>
<br/> 
 This is an example with services
<br/>
<section ng-controller="titlesRestCtrl">
<table st-table="titlesCollections" class="table table-striped">
	<thead>
	<tr>
		<th>id</th>
		<th>title</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in titlesCollections">
		<td>{{row.id}}</td>
		<td>{{row.title}}</td>
	</tr>
	</tbody>
</table>
</section>  
<br/> 
This is an example with filtered
<br/>
 
<section ng-controller="titlesRestCtrl">
Search: <input ng-model="query">
<table st-table="titlesCollections" class="table table-striped">
	<thead>
	<tr>
		<th>id</th>
		<th>title</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="originalInfo in titlesCollections  | filter:query">
		<td>{{originalInfo.id}}</td>
		<td>{{originalInfo.title}}</td>
	</tr>
	</tbody>
</table>
</section> 
 
</body>
</html>
